body {
    overflow-x: hidden;
    position: relative;
    margin: 0;
    min-height: 100vh;
}

header {
    padding-top: 1.5rem;
    margin-bottom: 0.1rem;
    display: flex;
    flex-wrap: wrap;
}

.main {
    width: 100%;
    margin: 2rem auto 0 auto;
    background-color: #FAFAFA;
}

.body-container {
    position: relative;
}

.body-container h2 {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 4rem;
}

.gallery {
    width: 80%;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    font-family: 'Reenie Beanie', cursive;
    color: black;
    text-align: center;
    font-size: 6rem;
    margin-bottom: 2rem;
    transition: color 1s;
    width: 100%;
    text-decoration: none;
}

.title:hover {
    font-size: 6rem;
    transition: color 1s;
    font-weight: normal;
}

.title:hover {
    text-decoration: none;
}

.facebook {
    text-align: center;
}

.facebook:hover {
    text-decoration: none;
}

.facebook img {
    height: 20px;
    width: 20px;
}

nav {
    text-align: center;
    margin-bottom: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav a {
    font-family: 'Reenie Beanie', cursive;
    color: #919191;
    font-size: 2rem;
    transition: color 0.5s;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;

}

#mobileNav a {
    font-family: 'Reenie Beanie', cursive;
    color: #919191;
    font-size: 2rem;
}

.burger-menu {
    text-align: right;
    display: none;
}

.burger-menu img {
    height: 30px;
    width: 30px;
    color: #919191;
    margin-top: 8px;
}

.row.mobileNav {
    display: none;
}

.contact {
    width: 100%;
    margin: 0 auto;
    background-color: #FAFAFA;
    padding: 2rem;
    margin-top: 2rem;
    margin-right: 0;
    font-family: OpenSans;
}

.contact textarea {
    max-width: 100%;
    min-height: 150px;
    line-height: 1.5em;
    resize: none;
    font-weight: normal;
    font-family: OpenSans;
}

.contact .sub-title {
    font-family: OpenSans;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
}

.contact input,
.contact textarea {
    width: 60%;
    font-size: 100%;
    padding: 1.2em 1em 1em 1.8em;
    font-family: OpenSans;
    font-weight: bold;
    border: 1px solid #919191;
    letter-spacing: .075em;
    padding: 1.3em 1em 1em 1.2em;
    color: #919191;
    outline: 0px none;
    margin: 0 auto;
    display: block !important;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.contact .submit {
    width: 30%;
    height: 4rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .1em;
    border: 1px solid #3c3c3c;
    background-color: #3c3c3c;
    padding: .85em 1em .75em 1.5em;
    position: relative;
    outline: 0 none;
    transition: all .5s ease 0s;
    font-family: OpenSans;
    margin-top: 1.25em;
}

.contact .submit:hover {
    background-color: #919191;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    top: 100%;
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 280ms ease-out;
    color: black;
    align-items: center;
    height: 50px;
    margin-top: 2rem;
}

footer p {
    margin: 0 auto;
}


#mobileNav a {
    text-align: center;
    padding: 0.5rem 0;
}

.slika {
    margin-bottom: 2rem;
    width: 48%;
}

.colored {
    background-color: #fafafa;
}

.suradnja-content {
    width: 80%;
    margin: 2rem auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    align-items: center;
    padding: 3rem 0;
}

.suradnja-content .text {
    font-family: OpenSans
}

.suradnja-content .text .sub-title {
    width: 100%;
}

.suradnja-content img {
    width: 35%;
}

.suradnja-content .mobile-image {
    display: none;
}

.suradnja-content .text {
    width: 60%;
    margin: 0 auto;
}

.about {
    background-color: #fafafa;
    margin-top: 2rem;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

.about-content img {
    width: 40%;
}

.about-content .text {
    width: 50%;
    margin: 0 auto;
}

/* Mobile stuff */
@media (max-width: 682px) {
    header {
        padding-left: 1rem;
        padding-right: 1rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: all 280ms ease-out;
    }

    .burger-menu {
        display: block;
        line-height: 3rem;
        margin-left: auto;
    }

    nav {
        display: none;
    }

    .main {
        width: 100%;
        background-color: #FAFAFA;
        margin-top: 0;
        padding: 2rem 0;
    }

    .row.mobileNav.show {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .title {
        text-align: left;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        line-height: 3rem;
        width: 50%;
    }

    .title:hover {
        font-size: 2rem;
        color: black;
    }

    #mobileNav a {
        transition: color 0.5s;
        width: 100%;
        text-decoration: none;
    }

    #mobileNav a:hover {
        text-decoration: none;
        color: black;
        transition: color 0.5s;
    }

    .gallery {
        width: 90%;
    }

    .slika {
        width: 100%;
    }

    .contact {
        padding: 2rem 0;
        margin-top: 0;
    }

    .contact input,
    .contact textarea {
        width: 80%;
        margin-bottom: 1rem;
        margin-top: 1rem;
        resize: none;
    }

    .contact .submit {
        width: 60%;
    }

    .suradnja-content img {
        width: 100%;
    }

    .suradnja-content .text {
        width: 100%;
        margin-top: 1rem;
    }

    .suradnja-content .mobile-image {
        display: block;
    }

    .suradnja-content .desktop-image {
        display: none;
    }

    .about-content img {
        width: 100%;
    }

    .about-content .text {
        width: 100%;
        margin-top: 1rem;
    }


}